/* This targets my <body> tag in the HTML file */
body {
    font-family: sans-serif;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    padding: 25px;
}

/* This targets my <div> element named "container" in the HTML file */
#container {
    background-color: green;
    border: 2px solid white;
    border-radius: 70px 20px 70px 20px;
    margin-top: 150px;
}

/* This targets my HTML <form> tag in the HTML file */
#form {
    margin-top: 40px;
}

/* This targets my <h1> tags in the HTML file */
h1 {
    text-align: center;
    color: white;
}

/* This targets my <p> tags in the HTML file */
p {
    text-align: center;
    color: white;
    margin-top: 40px;
}

/* This targets my HTML form <label> tag in the HTML file */
label {
    margin-left: 150px;
    color: white;
}

/* This targets my <p> tag named "outputText" in the HTML file */
#outputText {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 55px;
}